# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
**/bin/
**/obj/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log
*.cache

# NuGet
*.nupkg
packages/
*.nuget.targets
*.nuget.props